html {
  font-family: "Noto Serif", serif;
}

header {
  background-color: #70ad55;
  width: 100%;
}

.form {
  background-color: #fff;
}

span {
  color: #70ad55;
}

hr {
  border: .5px solid #70ad55;
}

fieldset {
  border: 0;
}

h1 {
  color: #fff;
}

p {
  color: #fff;
}

.name p {
  color: #000;
}

.nickname p {
  color: #000;
}

.btn {
  background-color: #6e8c62;
  border-color: #6e8c62;
  border-radius: 2px;
}

.btn:hover {
  background-color: #70ad55;
  border-color: #70ad55;
}

footer {
  background-color: #70ad55;
}

input {
  border-color: #6e8c62;
}

@media only screen and (min-width: 38em) {

  .name {
    padding-right: .7rem;
  }

  .date {
    padding-right: .7rem;
  }

  .province {
    padding-right: .7rem;
  }

  .pc {
    padding-left: .7rem;
  }

  .nickname {
    padding-left: .7rem;
  }

  .email {
    padding-right: .7rem;
  }

  .shirt {
    padding-left: .7rem;
  }

  .phone {
    padding-left: .7rem;
  }

  .city {
    padding-left: .7rem;
  }

  .street {
    padding-right: .7rem;
  }

}
