html {
  font-family: "Noto Serif", sans-serif;
}

.green {
  background-color: #70ad55;
  width: 100%;
}

.form {
  background-color: #fff;
}

span {
  color: #70ad55;
}

.checks {
  border-bottom: 1px solid #70ad55;
}

.radios {
  border-bottom: 1px solid #70ad55;
}

.comments {
  border-bottom: 1px solid #70ad55;
}

fieldset {
  border: 0;
}

.person {
  border-bottom: 1px solid #70ad55;
}

.ad {
  border-bottom: 1px solid #70ad55;
}

h1 {
  color: #fff;
}

p {
  color: #fff;
}

footer {
  background-color: #70ad55;
}

@media only screen and (min-width: 60em) {

  .name {
    padding-right: .5rem;
  }

  .date {
    padding-right: .5rem;
  }

  .province {
    padding-right: .5rem;
  }

  .pc {
    padding-left: .5rem;
  }

  .nickname {
    padding-left: .5rem;
  }

  .email {
    padding-right: .5rem;
  }

  .shirt {
    padding-left: .5rem;
  }

  .phone {
    padding-left: .5rem;
  }

  .city {
    padding-left: .5rem;
  }

  .street {
    padding-right: .5rem;
  }

}
