html {
  font-family: "Noto Serif", sans-serif;
}

.green {
  background-color: #70ad55;
  width: 100%;
}

.form {
  background-color: #fff;
}

h1 {
  color: #fff;
}

p {
  color: #fff;
}

footer {
  background-color: #70ad55;
}

@media only screen and (min-width: 960em) {

  .name {
    padding-right: .5rem;
  }

  .age {
    padding-left: .5rem;
  }

  .email {
    padding-right: .5rem;
  }

  .fit {
    padding-left: .5rem;
  }

}
